# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
datasets/
logs/modelWeight/*
test_outputs/apple_input.png
test_outputs/apple_reflectance.png
test_outputs/apple_shading.png
test_outputs/coin_input.png
test_outputs/coin_reflectance.png
test_outputs/coin_shading.png
test_outputs/original_input.png
test_outputs/original_reflectance.png
test_outputs/original_shading.png
test_outputs/racoon_input.png
test_outputs/racoon_reflectance.png
test_outputs/racoon_shading.png
test_outputs/uvc_camera_cam_0_f00140_undist.png
test_outputs/uvc_camera_cam_0_f00340_undist.png
test_outputs/uvc_camera_cam_0_f01190_undist.png
test_outputs/uvc_camera_cam_0_f01240_undist.png
evaluation_results/all_datasets_evaluation.json
evaluation_results/midintrinsics_evaluation_metrics.json
evaluation_results/mit_intrinsic_evaluation_metrics.json
evaluation_results/ned_evaluation_metrics.json
evaluation_results/midintrinsics/dir_2_mip2_comparison.png
evaluation_results/midintrinsics/dir_2_mip2_input.png
evaluation_results/midintrinsics/dir_2_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_2_mip2_reflectance.png
evaluation_results/midintrinsics/dir_2_mip2_shading.png
evaluation_results/midintrinsics/dir_6_mip2_comparison.png
evaluation_results/midintrinsics/dir_6_mip2_input.png
evaluation_results/midintrinsics/dir_6_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_6_mip2_reflectance.png
evaluation_results/midintrinsics/dir_6_mip2_shading.png
evaluation_results/midintrinsics/dir_8_mip2_comparison.png
evaluation_results/midintrinsics/dir_8_mip2_input.png
evaluation_results/midintrinsics/dir_8_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_8_mip2_reflectance.png
evaluation_results/midintrinsics/dir_8_mip2_shading.png
evaluation_results/midintrinsics/dir_9_mip2_comparison.png
evaluation_results/midintrinsics/dir_9_mip2_input.png
evaluation_results/midintrinsics/dir_9_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_9_mip2_reflectance.png
evaluation_results/midintrinsics/dir_9_mip2_shading.png
evaluation_results/midintrinsics/dir_12_mip2_comparison.png
evaluation_results/midintrinsics/dir_12_mip2_input.png
evaluation_results/midintrinsics/dir_12_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_12_mip2_reflectance.png
evaluation_results/midintrinsics/dir_12_mip2_shading.png
evaluation_results/midintrinsics/dir_16_mip2_comparison.png
evaluation_results/midintrinsics/dir_16_mip2_input.png
evaluation_results/midintrinsics/dir_16_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_16_mip2_reflectance.png
evaluation_results/midintrinsics/dir_16_mip2_shading.png
evaluation_results/midintrinsics/dir_17_mip2_comparison.png
evaluation_results/midintrinsics/dir_17_mip2_input.png
evaluation_results/midintrinsics/dir_17_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_17_mip2_reflectance.png
evaluation_results/midintrinsics/dir_17_mip2_shading.png
evaluation_results/midintrinsics/dir_18_mip2_comparison.png
evaluation_results/midintrinsics/dir_18_mip2_input.png
evaluation_results/midintrinsics/dir_18_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_18_mip2_reflectance.png
evaluation_results/midintrinsics/dir_18_mip2_shading.png
evaluation_results/midintrinsics/dir_22_mip2_comparison.png
evaluation_results/midintrinsics/dir_22_mip2_input.png
evaluation_results/midintrinsics/dir_22_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_22_mip2_reflectance.png
evaluation_results/midintrinsics/dir_22_mip2_shading.png
evaluation_results/midintrinsics/dir_23_mip2_comparison.png
evaluation_results/midintrinsics/dir_23_mip2_input.png
evaluation_results/midintrinsics/dir_23_mip2_reconstruction.png
evaluation_results/midintrinsics/dir_23_mip2_reflectance.png
evaluation_results/midintrinsics/dir_23_mip2_shading.png
evaluation_results/mit_intrinsic/light01_comparison.png
evaluation_results/mit_intrinsic/light01_input.png
evaluation_results/mit_intrinsic/light01_reconstruction.png
evaluation_results/mit_intrinsic/light01_reflectance.png
evaluation_results/mit_intrinsic/light01_shading.png
evaluation_results/mit_intrinsic/light02_comparison.png
evaluation_results/mit_intrinsic/light02_input.png
evaluation_results/mit_intrinsic/light02_reconstruction.png
evaluation_results/mit_intrinsic/light02_reflectance.png
evaluation_results/mit_intrinsic/light02_shading.png
evaluation_results/mit_intrinsic/light03_comparison.png
evaluation_results/mit_intrinsic/light03_input.png
evaluation_results/mit_intrinsic/light03_reconstruction.png
evaluation_results/mit_intrinsic/light03_reflectance.png
evaluation_results/mit_intrinsic/light03_shading.png
evaluation_results/mit_intrinsic/light04_comparison.png
evaluation_results/mit_intrinsic/light04_input.png
evaluation_results/mit_intrinsic/light04_reconstruction.png
evaluation_results/mit_intrinsic/light04_reflectance.png
evaluation_results/mit_intrinsic/light04_shading.png
evaluation_results/mit_intrinsic/light05_comparison.png
evaluation_results/mit_intrinsic/light05_input.png
evaluation_results/mit_intrinsic/light05_reconstruction.png
evaluation_results/mit_intrinsic/light05_reflectance.png
evaluation_results/mit_intrinsic/light05_shading.png
evaluation_results/mit_intrinsic/light06_comparison.png
evaluation_results/mit_intrinsic/light06_input.png
evaluation_results/mit_intrinsic/light06_reconstruction.png
evaluation_results/mit_intrinsic/light06_reflectance.png
evaluation_results/mit_intrinsic/light06_shading.png
evaluation_results/mit_intrinsic/light07_comparison.png
evaluation_results/mit_intrinsic/light07_input.png
evaluation_results/mit_intrinsic/light07_reconstruction.png
evaluation_results/mit_intrinsic/light07_reflectance.png
evaluation_results/mit_intrinsic/light07_shading.png
evaluation_results/mit_intrinsic/light08_comparison.png
evaluation_results/mit_intrinsic/light08_input.png
evaluation_results/mit_intrinsic/light08_reconstruction.png
evaluation_results/mit_intrinsic/light08_reflectance.png
evaluation_results/mit_intrinsic/light08_shading.png
evaluation_results/mit_intrinsic/light09_comparison.png
evaluation_results/mit_intrinsic/light09_input.png
evaluation_results/mit_intrinsic/light09_reconstruction.png
evaluation_results/mit_intrinsic/light09_reflectance.png
evaluation_results/mit_intrinsic/light09_shading.png
evaluation_results/mit_intrinsic/light10_comparison.png
evaluation_results/mit_intrinsic/light10_input.png
evaluation_results/mit_intrinsic/light10_reconstruction.png
evaluation_results/mit_intrinsic/light10_reflectance.png
evaluation_results/mit_intrinsic/light10_shading.png
evaluation_results/ned/A_0099_comparison.png
evaluation_results/ned/A_0099_input.png
evaluation_results/ned/A_0099_reconstruction.png
evaluation_results/ned/A_0099_reflectance.png
evaluation_results/ned/A_0099_shading.png
evaluation_results/ned/E_0016_comparison.png
evaluation_results/ned/E_0016_input.png
evaluation_results/ned/E_0016_reconstruction.png
evaluation_results/ned/E_0016_reflectance.png
evaluation_results/ned/E_0016_shading.png
evaluation_results/ned/E_0042_comparison.png
evaluation_results/ned/E_0042_input.png
evaluation_results/ned/E_0042_reconstruction.png
evaluation_results/ned/E_0042_reflectance.png
evaluation_results/ned/E_0042_shading.png
evaluation_results/ned/E_0060_comparison.png
evaluation_results/ned/E_0060_input.png
evaluation_results/ned/E_0060_reconstruction.png
evaluation_results/ned/E_0060_reflectance.png
evaluation_results/ned/E_0060_shading.png
evaluation_results/ned/N_0082_comparison.png
evaluation_results/ned/N_0082_input.png
evaluation_results/ned/N_0082_reconstruction.png
evaluation_results/ned/N_0082_reflectance.png
evaluation_results/ned/N_0082_shading.png
evaluation_results/ned/N_0096_comparison.png
evaluation_results/ned/N_0096_input.png
evaluation_results/ned/N_0096_reconstruction.png
evaluation_results/ned/N_0096_reflectance.png
evaluation_results/ned/N_0096_shading.png
evaluation_results/ned/S_0006_comparison.png
evaluation_results/ned/S_0006_input.png
evaluation_results/ned/S_0006_reconstruction.png
evaluation_results/ned/S_0006_reflectance.png
evaluation_results/ned/S_0006_shading.png
evaluation_results/ned/W_0037_comparison.png
evaluation_results/ned/W_0037_input.png
evaluation_results/ned/W_0037_reconstruction.png
evaluation_results/ned/W_0037_reflectance.png
evaluation_results/ned/W_0037_shading.png
evaluation_results/ned/W_0046_comparison.png
evaluation_results/ned/W_0046_input.png
evaluation_results/ned/W_0046_reconstruction.png
evaluation_results/ned/W_0046_reflectance.png
evaluation_results/ned/W_0046_shading.png
evaluation_results/ned/W_0098_comparison.png
evaluation_results/ned/W_0098_input.png
evaluation_results/ned/W_0098_reconstruction.png
evaluation_results/ned/W_0098_reflectance.png
evaluation_results/ned/W_0098_shading.png
